/* Styles go here */
div {
  margin-bottom: 5px;
}

button {
  background-color: darkgrey;
  border-radius: 3px;
  color: white;
}

#changeTodoPositionInput {
  width: 25px;
}

#deleteTodoPositionInput {
  width: 25px;
}

#toggleCompletedPositionInput {
  width: 25px;
}

li button {
  margin-left: 5px;
}